@import 'tailwindcss';

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-mint-green-50: oklch(96.75% 0.02 177.46);
  --color-mint-green-100: oklch(93.29% 0.039 178.61);
  --color-mint-green-200: oklch(87.24% 0.076 177.05);
  --color-mint-green-300: oklch(81.35% 0.108 175);
  --color-mint-green-400: oklch(76.38% 0.132 172.22);
  --color-mint-green-500: oklch(63.97% 0.113 171.16);
  --color-mint-green-600: oklch(54.58% 0.095 172.07);
  --color-mint-green-700: oklch(44.39% 0.076 172.36);
  --color-mint-green-800: oklch(33.94% 0.055 173.01);
  --color-mint-green-900: oklch(22.22% 0.032 174.33);
  --color-mint-green-950: oklch(15.95% 0.02 177.37);

  --color-sand-50: oklch(97% 0.012 91.52);
  --color-sand-100: oklch(93.22% 0.027 87.86);
  --color-sand-200: oklch(86.72% 0.053 87.89);
  --color-sand-300: oklch(80.58% 0.077 87.03);
  --color-sand-400: oklch(74.02% 0.101 87.42);
  --color-sand-500: oklch(66.69% 0.107 85.58);
  --color-sand-600: oklch(57.26% 0.091 86.07);
  --color-sand-700: oklch(46.04% 0.071 85.63);
  --color-sand-800: oklch(35.56% 0.053 86.54);
  --color-sand-900: oklch(22.61% 0.028 85.2);
  --color-sand-950: oklch(17.06% 0.017 84.97);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-josefin: josefin-sans, sans-serif;
  --font-noto-sans: source-han-sans-japanese, sans-serif;
  --font-din: din-2014, sans-serif;
  --font-din-narrow: din-2014-narrow, sans-serif;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

    :root {
    --background: #ffffff;
    --foreground: #171717;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
    }
  }
@layer components {
  html {
    /* visibility: hidden; */
    scroll-behavior: smooth;
  }

  /* html.wf-active {
    visibility: visible;
  } */

  #container {
    visibility: hidden;
  }

  .wf-active #container {
    visibility: visible;
  }

  body {
    color: var(--foreground);
    background: var(--background);
    font-synthesis: none;
  }

  a {
    @apply text-mint-green-400 hover:underline underline-offset-4;
  }

  header a {
    @apply text-foreground hover:no-underline hover:text-mint-green-400 transition-all;
  }

  p + p {
    @apply mt-7;
  }

  .link-btn {
    @apply flex items-center justify-center gap-2 w-full md:w-fit text-center uppercase font-josefin border rounded-full px-14 py-3 text-white bg-mint-green-400 border-background hover:bg-mint-green-100 hover:text-mint-green-400 transition-all hover:no-underline mx-auto;
  }

  .news-list {
    a {
      @apply text-foreground;
    }
  }

  .more-link {
    @apply text-foreground hover:no-underline;
  }

  table {
    @apply divide-y divide-dashed divide-gray-300 w-full;

    thead,
    tbody {
      @apply divide-y divide-dashed divide-gray-300;
    }

    tr {
      @apply block text-left py-4;

      th:first-of-type,
      td:first-of-type {
        @apply w-28;
      }
    }
  }

  .cast-block {
    @apply relative;
    /* @apply border-dashed border-r border-b border-gray-300; */
    &::after {
      @apply block border-dashed border border-gray-300 absolute pointer-events-none -z-10;
      top: -0.5px;
      left: -0.5px;
      width: calc(100% + 1px);
      height: calc(100% + 1px);
      content: '';
    }
  }
}

.loading {
  @apply hidden;
}

.wf-loading {
  .loading {
    @apply flex;
  }
}

.animation-delay-200 {
  animation-delay: 200ms;
}

.animation-delay-400 {
  animation-delay: 400ms;
}